*{
    margin: 0;
}
body{
    background-color: rgba(76, 175, 80, 0.3);
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 25px;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}
li{
    margin-bottom: 20px;
}